// sass-lint:disable no-url-domains, no-url-protocols

$border: #000;
$title: #4a4a4a;
$background: #fff;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Abril+Fatface&display=swap');


.shop-page {
  font-family: 'Dancing Script', cursive;
  padding: 20px 80px;

  > .title {
    font-size: 56pt;
    font-weight: 900;
    margin-bottom: 0;
    text-align: center;
  }

  > .subtitle {
    font-size: 20pt;
    margin-top: 0;
    opacity: .5;
    text-align: center;
  }
}
