// sass-lint:disable no-url-domains, no-url-protocols

$border: #000;
$title: #4a4a4a;
$background: #fff;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Abril+Fatface&display=swap');

.menu-item {
  align-items: center;
  border: 1px solid $border;
  box-shadow: 3px 3px 15px $title;
  display: flex;
  flex: 1 1 auto;
  height: 240px;
  justify-content: center;
  margin: 0 7.5px 15px;
  min-width: 30%;
  overflow: hidden;
  position: relative;

  &.large {
    height: 380px;
  }

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(.25, .45, .45, .95);
    }

    & .content {
      opacity: .9;
    }
  }

  &:first-child {
    margin-right: 7.5px;
  }

  &:last-child {
    margin-left: 7.5px;
  }

  .background-image {
    background-position: center;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
  }

  .content {
    align-items: center;
    background-color: $background;
    border: 1px solid $border;
    display: flex;
    flex-direction: column;
    height: 90px;
    justify-content: center;
    opacity: .7;
    padding: 0 25px;

    .title {
      color: $title;
      font-family: 'Dancing Script', cursive;
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 6px;
      text-transform: uppercase;
    }

    .subtitle {
      font-family: 'Abril Fatface', cursive;
      font-size: 16px;
      font-weight: lighter;
      opacity: .8;
    }
  }
}
